body {
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

/* Utility classes */
.small {
  font-weight: 300;
  font-style: italic;
}

.clickable {
  cursor: pointer;
}
.clickable:hover {
  color: rgba(39, 44, 49, .5);
}
.center-block {
  margin: 0 auto;
  justify-content: center;
  display: flex;
}