
.footer {
    width: 100vw;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 0;
    position: fixed;
    bottom: 0;
    z-index: 2;
}

.footer ul {
    padding: 0;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: scroll;
    height: 2.5rem;
    width: 100vw;
    overflow-y: hidden;
    white-space: nowrap;
    text-align: center;
}

.footer li {
    text-align: center;
    display: inline;
    transition: border 500ms;
}

.footer li:not(:last-child) {
    margin-right: 10vw;
}

@media (max-width:1380px) {
    .footer li:not(:last-child) {
        margin-right: 5vw;
    }
}

@media (max-width:850px) {
    .footer li:not(:last-child) {
        margin-right: 20px;
    }
}

.footer li a {
    transition: color 500ms;
    text-decoration: none;
}

footer a {
    color: white;
}

footer a:hover {
    color: darkgray;
}

footer a:hover {
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}